button {
    position: fixed;
    z-index: 2;
    right: 3%;
    bottom: 3%;
    transition: all 0.3s;
    height: 0;
    width: 0;
    visibility: hidden;
    outline: none;
  
    &.is-shown {
      height: 56px;
      width: 56px;
      visibility: visible;
    }
  }
  