<section [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }">
  <mat-card [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }">
    <mat-card-header>
        <mat-card-title>Notes works</mat-card-title>
        <mat-card-subtitle>Notes</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button color="accent" (click)="newNote()">New Note</button>
      </mat-card-content>
  </mat-card>
  <br>
  <div *ngFor="let note of notes$ | async">
    <p>{{note.id}}</p>
    <p>{{note.title}}</p>
    <p>{{note.content}}</p>
    <p>{{note.date}}</p>
    <br>
  </div>
</section>
