<section
  class="main-card-section"
  [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }"
>
  <mat-card
    class="main-card"
    [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }"
  >
    <mat-card-header>
      <mat-card-title>Notes works</mat-card-title>
      <mat-card-subtitle>Notes</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="accent" (click)="newNote()">
        New Note
      </button>
    </mat-card-content>
  </mat-card>
</section>

<section
  class="notes-cards-list"
  [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }"
>
  <div
    *ngFor="let note of notes$ | async"
    class="list-card"
    [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }"
  >
    <app-notes-list
      title="{{ note.title }}"
      date="{{ note.date }}"
      content="{{ note.content }}"
      id="{{ note.id }}"
      summary="{{ note.summary }}"
    ></app-notes-list>
  </div>
</section>
