<section [ngClass]="{'handset-portait' : handset}">
  <mat-card [ngClass]="{'handset-portait' : handset}">
    <mat-card-header >
      <mat-card-title >Welcome to thort</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Login or sign up</p>
      <p>{{currentScreenSize}}</p>
    </mat-card-content>
    <mat-card-actions class="card-actions" [ngClass]="{'handset-grid' : handset}">
      <button mat-raised-button color="primary" class="login-btn" routerLink="login">Login</button>
      <button mat-raised-button color="accent" class="signup-btn" routerLink="signup">Sign up</button>
    </mat-card-actions>
  </mat-card>  
</section>
