<mat-sidenav-container class="sidenav-container content">
  <mat-sidenav #sidenav class="sidenav" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar >Menu</mat-toolbar>

    <ng-container *ngIf="!(isUserLoggedIn$| async); else loggedNav">
      <mat-nav-list>
        <a mat-list-item href="#">{{isUserLoggedIn$ | async}}</a>
      </mat-nav-list>
    </ng-container>

    <ng-template #loggedNav>
      <app-user-nav-list></app-user-nav-list>
    </ng-template>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
