@use "@material/top-app-bar/mdc-top-app-bar";

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-drawer-side {
  border: none;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

.content {
  min-height: calc(100vh - 64px);
}
